@model CenterApp.Core.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_Specilist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher_Specilist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher_Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher_BirthOfDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher_BirthOfDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Teacher_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
