@model IEnumerable<CenterApp.Core.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teacher_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher_Specilist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher_Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher_BirthOfDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher_Specilist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher_Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher_BirthOfDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Teacher_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Teacher_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Teacher_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
