@model IEnumerable<CenterApp.Core.Models.Level>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
    
   
               
</p>
<table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Level_Name)
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="AddingToLevel" asp-controller="Levels" asp-route-id="@item.Level_Id"> @Html.DisplayFor(modelItem => item.Level_Name)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Level_Id" class="btn btn-outline-success"><i class="fa fa-edit"></i></a> </td>
                <td> <a asp-action="Delete" asp-route-id="@item.Level_Id" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
