@model IEnumerable<CenterApp.Core.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_BirthOfDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_RegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_StdPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_ParentPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>  
            <th>
                Payments
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_BirthOfDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_RegisterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_StdPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_ParentPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage.Stage_Name)
            </td>
            <td>
                <a asp-action="payForSupject" asp-route-id="@item.Student_Id">Pay For Supject</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Student_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Student_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Student_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
